body {
  min-height: 100vh;
  font-family: arial;
  background: #2c0029;
  background: -webkit-linear-gradient(to right, #085f67, #2c0029);
  background: linear-gradient(to right, #085f67, #2c0029);
  color: #e2e2e2;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-color: #ffffff !important;
}

li:last-child {
  border: none !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#js-input {
  background-color: #fbf7f3 !important;
}

#addBtn {
  margin-left: -53px !important;
  padding: 2px 10px;
  border: none;
  background-color: transparent;
  display: none;
}

.js-list {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.check {
  display: none;
}

.edit {
  width: 24px;
  height: 24px;
}

.trash {
  width: 22px;
  height: 22px;
}

.myModal {
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -100%);
  background: #1d7395;
}
